<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mes.process.mapper.ProcMapper">
	<select id="getPlanCode" resultType="ProcPlanVO">
		SELECT 'plan'||TO_CHAR(SYSDATE,'yyyyMMdd')||TRIM(TO_CHAR(prpl_seq.nextval,'0000')) as prpl_cd
		  FROM proc_plan
	</select>
	<select id="selectOrder" resultType="OrderPlanVO">
		SELECT o.orsh_no as orsh_no
			 , o.ca_no as ca_no
			 , ca_nm
			 , ordr_dtl_cnt
			 , TO_CHAR(dlvry_dt,'rrrr-MM-dd') as dlvry_dt
			 , TO_CHAR(orsh_dt,'rrrr-MM-dd') as orsh_dt
			 , orsh_pr
			 , d.cpr_cd as cpr_cd
			 , p.cpr_nm as cpr_nm
		  FROM order_sheet o
			 , order_sheet_detail d
			 , cm_product_mng p
			 , cm_account a
		 WHERE o.orsh_no = d.orsh_no(+)
		   AND d.cpr_cd = p.cpr_cd(+)
		   AND o.ca_no = a.ca_no(+)
	       AND o.orsh_pr = '접수완료'
		 ORDER BY 1
	</select>
	<select id="selectOneOrder" parameterType="OrderPlanVO" resultType="OrderPlanVO">
		SELECT o.orsh_no as orsh_no
		, o.ca_no as ca_no
		, ca_nm
		, ordr_dtl_cnt
		, TO_CHAR(dlvry_dt,'rrrr-MM-dd') as dlvry_dt
		, TO_CHAR(orsh_dt,'rrrr-MM-dd') as orsh_dt
		, orsh_pr
		, d.cpr_cd as cpr_cd
		, p.cpr_nm as cpr_nm
		FROM order_sheet o
		, order_sheet_detail d
		, cm_product_mng p
		, cm_account a
		WHERE o.orsh_no = d.orsh_no(+)
		AND d.cpr_cd = p.cpr_cd(+)
		AND o.ca_no = a.ca_no(+)
		AND o.orsh_no = #{orshNo}
	</select>
	<insert id="insertPlan" parameterType="ProcPlanVO">
		INSERT INTO proc_plan (prpl_cd,orsh_no,prpl_req_cnt, prpl_dt,prpl_dlvry_dt,prpl_status)
		VALUES
		 	 ( #{prplCd}
		 	 , #{orshNo}
		 	 , #{prplReqCnt}
		 	 , TO_CHAR(SYSDATE, 'rrrr-YY-dd')
		 	 , #{prplDlvryDt}
		 	 , '계획완료'
		 	 )

	</insert>
	<insert id="insertPlanDetail" parameterType="ProcPlanVO">

		INSERT INTO
		proc_plan_detail
		VALUES
		('plandtl'||TO_CHAR(SYSDATE,'yyyyMMdd')||TRIM(TO_CHAR(prpl_dtl_seq.nextval,'0000'))
		, #{prpldWorkTskPri}
		, #{cprCd}
		, #{prpldCnt}
		, #{prstDt}
		, #{prpldMng}
		, '계획완료'
		, #{prpl_cd}
		)
	</insert>
















</mapper>