<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mes.material.mapper.MaterialMapper">
	<!-- 업체명조회 -->
	<select id="accountCheck" resultType="MtrlAccountVO">
		SELECT ca_no, ca_nm, ca_mng, ca_mng_ph, ca_bsns_num
		FROM CM_ACCOUNT
		WHERE CA_TYP = '매입처'
		ORDER BY ca_no
	</select>
		
	<!-- 모달창 업체검색 -->
	<select id="accountCheckModal" resultType="MtrlAccountVO">
		SELECT ca_no, ca_nm, ca_mng, ca_mng_ph, ca_bsns_num
		FROM CM_ACCOUNT
		WHERE CA_TYP = '매입처'
			<if test="caNo != null and !caNo.equals('')">
			AND ca_no LIKE '%' || #{caNo} || '%'
			</if>
			<if test="caNm != null and !caNm.equals('')">
			AND ca_nm LIKE '%' || #{caNm} || '%'
			</if>
		ORDER BY ca_no
	</select>
	
	<!-- 업체명 또는 자재명을 통한 자재검색 -->
	<select id="mtrlSearch" resultType="MaterialVO">
		SELECT cmm.cmm_cd, cmm_nm, cmm_typ, cmm_spec,
		        cmm_unit, cmm_saf_stc, MOT_CNT, MIN_CNT,  ca_nm, cmm.ca_no,
		        TO_NUMBER(min_cnt) - TO_NUMBER(mot_cnt) AS "cmm_inven"
		FROM cm_account ca JOIN cm_mtrl_mng cmm
		ON ca.ca_no = cmm.ca_no
		 JOIN cm_mtrl_lot clot
		  ON cmm.cmm_cd = clot.cmm_cd
		    JOIN mtrl_otpt mot
		        ON clot.cml_nm = mot.cml_nm
		            JOIN mtrl_input min
		                ON mot.min_cd = min.min_cd
		WHERE 1 = 1
			<if test="caNm != null and !caNm.equals('')">
			AND ca_nm LIKE '%' || #{caNm} || '%'
			</if>
			<if test="cmmNm != null and !cmmNm.equals('')">
			AND cmm_nm LIKE '%' || #{cmmNm} || '%' 
			</if>
		ORDER BY cmm_cd
	</select>
	
	<!-- 업체명 & 발주신청일 시작일자 ~ 종료일자  -->
	<select id="mtrlOrderDateSearch" resultType="MaterialOrderVO">
		SELECT DISTINCT mod.ca_no, ca_nm, mo.mo_cd, mo_reo_dt,
				mo_title, mo_cplt_dt
		FROM mtrl_order mo JOIN mtrl_order_detail mod
		    ON mo.mo_cd = mod.mo_cd
		        JOIN cm_account ca
		            ON mod.ca_no = ca.ca_no
		WHERE 1=1
		<if test="start != null and !start.equals('') and end!= null and !end.equals('')">
		AND mo_reo_dt BETWEEN #{start} AND #{end}
		</if>
		<if test="caNm != null and !caNm.equals('')">
		AND ca_nm LIKE '%' || #{caNm} || '%'
		</if>
		ORDER BY 1 asc
	</select>
	
	<!-- 자재발주 단건조회 -->
	<select id="mtrlOrderOneCheck" resultType="MaterialOrderVO">
		SELECT mo.mo_cd, mo_title, mo_reo_dt, mod.cmm_cd, mo_req_dt, mod.ca_no, ca_nm
				,TO_NUMBER(min_cnt) - TO_NUMBER(mot_cnt) AS "CMM_INVEN"
		FROM mtrl_order mo 
		 JOIN mtrl_order_detail mod
		  ON mo.mo_cd = mod.mo_cd
		   JOIN cm_account ca
		    ON mod.ca_no = ca.ca_no
		     JOIN cm_mtrl_mng cmm
		      ON mod.cmm_cd = cmm.cmm_cd
			   JOIN cm_mtrl_lot cml
			    ON mod.cmm_cd = cml.cmm_cd
			     JOIN mtrl_otpt mot
			      ON cml.cml_nm = mot.cml_nm
			       JOIN mtrl_input min
			        ON mot.min_cd = min.min_cd
		WHERE cmm.cmm_cd = #{cmmCd}
	</select>
	
	<!-- 자재발주 디테일 단건조회 -->
	<!-- 발주코드, 업체코드, 업체명, 자재코드, 자재명, 발주수량, 안전재고, 납기요청일, 현재재고, 예상재고량 -->
	<select id="mtrlOrderDetailList" resultType="MaterialOrderVO">
		SELECT mo.mo_cd, mod.ca_no, ca_nm, mod.cmm_cd, cmm_nm, mo_cnt, cmm_saf_stc, mo_req_dt, mod_cd,
		        TO_NUMBER(min_cnt) - TO_NUMBER(mot_cnt) AS "cmm_inven",
		        TO_NUMBER(min_cnt) - TO_NUMBER(mot_cnt) + TO_NUMBER(mo_cnt) "cmm_est_inven"
		FROM mtrl_order mo
			JOIN mtrl_order_detail mod
			  ON mo.mo_cd = mod.mo_cd
			   JOIN cm_account ca
			    ON mod.ca_no = ca.ca_no
			     JOIN cm_mtrl_mng cmm
			      ON mod.cmm_cd = cmm.cmm_cd
				   JOIN cm_mtrl_lot cml
				    ON mod.cmm_cd = cml.cmm_cd
				     JOIN mtrl_otpt mot
				      ON cml.cml_nm = mot.cml_nm
				       JOIN mtrl_input min
				        ON mot.min_cd = min.min_cd
		where mo.mo_cd = #{moCd}
		order by 4 asc
	</select>
	
	<!-- 자재발주코드 자동생성 -->
	<select id="getMtrlOrderCode" resultType="MaterialOrderVO">
		SELECT 'mo' || to_char(NVL(MAX(SUBSTR(mo_cd, 3, 4)), 0) + 1) || to_char(sysdate, 'yymmdd') "mo_cd"
		FROM mtrl_order
	</select>
	
	<!-- 발주관리 헤더 INSERT -->
	<insert id="orderHeaderInsert" parameterType="MaterialOrderVO">
		INSERT INTO MTRL_ORDER(mo_cd, mo_title, mo_reo_dt)
		VALUES(#{moCd}, #{moTitle}, TO_CHAR(#{moReoDt}, 'yyyy-MM-dd'))
	</insert>
	
	<!-- 발주관리디테일 INSERT -->
	<insert id="orderDetailInsert" parameterType="MaterialOrderVO">
		INSERT INTO mtrl_order_detail(mod_cd, mo_cd, mo_cnt, mo_req_dt, ca_no, cmm_cd)
		VALUES
			('mod' || TO_CHAR(sysdate, 'yyMMdd') || mod_seq.NEXTVAL, #{moCd}, #{moCnt}, TO_CHAR(#{moReqDt}, 'yyyy-MM-dd'), #{caNo}, #{cmmCd})
	</insert>
	
	<!-- 발주코드를 기반으로 헤더와 디테일의 데이터를 지운다 -->
	<delete id="orderDelete" parameterType="String">
		DELETE FROM mtrl_order
		WHERE mo_cd = LOWER(#{delMocd})
	</delete>
	
	<!-- 발주상세코드를 기반으로 디테일 데이터를 지운다 -->
	<delete id="orderDetailDelete" parameterType="String">
		DELETE FROM mtrl_order_detail
		WHERE mod_cd = LOWER(#{delModCd})
	</delete>
	
	<!-- 발주조회디테일 UPDATE-->
	<update id="orderDetailUpdate" parameterType="MaterialOrderVO">
		UPDATE MTRL_ORDER_DETAIL
		   SET mo_cnt = #{moCnt},
		       mo_req_dt = #{moReqDt}
		WHERE  mo_cd = #{moCd}
		  AND  cmm_cd = #{cmmCd}
	</update>
	
		
	<!-- 발주입고관리 페이지 / 검사일자 : 시작일자 ~ 종료일자 & 업체명을 통한 데이터 조회 -->
	<!-- 발주번호,자재코드,자재명,자재코드,검사일자,자재규격,자재단위,자재유형,합격수량(입고가능수량) -->
	<select id="mtrlInputGetList" resultType="MaterialInputVO">
		SELECT mo.mo_cd, mi.mi_cd, mod.cmm_cd, cmm_nm, mod.cmm_cd, mi_dt,
		       cmm_spec, cmm_unit, cmm_typ, mi_pass_cnt
		FROM mtrl_insp mi
			LEFT OUTER JOIN mtrl_order mo
		      ON mi.mo_cd = mo.mo_cd
		       LEFT OUTER JOIN mtrl_order_detail mod
		         ON mo.mo_cd = mod.mo_cd
		           LEFT OUTER JOIN cm_mtrl_mng cmm
		             ON mod.cmm_cd = cmm.cmm_cd
		               LEFT OUTER JOIN cm_account ca
		                 ON mod.ca_no = ca.ca_no
		                   LEFT OUTER JOIN mtrl_input min
                             ON mi.mi_cd = min.mi_cd
		WHERE mi_note = '완료'
		<if test="caNm != null and !caNm.equals('')">
		AND ca_nm LIKE '%' || #{caNm} || '%'
		</if>
		<if test="start != null and !start.equals('') and end!= null and !end.equals('')">
		AND mi_dt BETWEEN #{start} AND #{end}
		</if>
		AND min.min_cd IS NULL 
		ORDER BY mi_dt
	</select>

</mapper>