<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mes.material.mapper.MaterialMapper">
	<!-- 자재 전체조회 -->
	<select id="mtrlAllList" resultType="MaterialVO">
		select * from CM_MTRL_MNG
	</select>
	
	<!-- 업체명 또는 자재명을 통한 자재검색 -->
	<select id="mtrlSearch" resultType="MaterialVO">
		SELECT cmm_cd, cmm_nm, cmm_typ, cmm_spec, cmm_unit, cmm_saf_stc
		FROM CM_MTRL_MNG cmm JOIN CM_ACCOUNT ca
		ON cmm.ca_no = ca.ca_no
		WHERE 1 = 1
			<if test="caNm != null and !caNm.equals('')">
			AND ca_nm = #{caNm} 
			</if>
			<if test="cmmNm != null and !cmmNm.equals('')">
			AND cmm_nm = #{cmmNm}
			</if>

		ORDER BY cmm_cd
	</select>

	<!-- 자재발주 전체조회 -->
	<select id="mtrlOrderAllList" resultType="MaterialOrderVO">
		select * from MTRL_ORDR
	</select>

</mapper>