
input {
	width: 300px;		/*!important*/
	border: 1px solid rgba(128, 128, 128, 0.61);
}

label{
	width: 100px;
	color: black;
}

input[type="checkbox"]:not(:checked), 
input[type="checkbox"]:checked {
	position: relative !important;
	left: 0 !important;
	opacity: 1 !important;
	width: 100% !important;
}

input[type="date"] {
	border: 1px solid rgba(128, 128, 128, 0.61);
}

/* 자재입고관리 페이지 CSS */
.mtrlInputMngFloatBtn{
	float: right;
	position: relative;
	bottom: 20px;
}
#mtrlInputMngDelBtn{
	float: right;
}
.mtrlInputDivCst{
	margin-left: 10px;
	margin-right: 10px;
}

/* 모달 CSS */
.modal { padding-right: 0px !important; }
.modal-open { padding-right: 0px !important; }
