@charset "UTF-8";

.procPlanBtn-l {
	float: left;
}

.procPlanBtn-r {
	float: right;
}

.itag {
	position: relative;
	top: 5px;
	right: 3px;
}

.procPlan ul li {
	margin-left: 10px;
	margin-right: 10px;
	line-height: 35px;
}



.procPlan input[type="date"] {
	margin: 0;
}

.floatEnd {
	clear: both;
}

.procPlanCraete {
	margin-top: 25px;
}