@charset "UTF-8";

.procPlanBtn-l {
	float: left;
}

.procPlanBtn-r {
	float: right;
}

.itag {
	position: relative;
	top: 5px;
	right: 3px;
}

.procPlan ul li {
	margin-left: 10px;
	margin-right: 10px;
	line-height: 35px;
}

.procPlan input[type="date"] {
	margin: 0;
}

.floatEnd {
	clear: both;
}

.procPlanCraete {
	margin-top: 25px;
}

#orderSheetTab td {
	vertical-align: middle;
}

.hi {
	height: 35px;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.padbot {
	margin-bottom: 20px;
}

.matop {
	margin-top: 20px;
}

input[type="date"] {
	border: none;
	border-bottom: 1px solid #9e9e9e;
}

#orderSheetTab tr:hover {
	cursor: pointer;
	background-color: antiquewhite;
}