@charset "UTF-8";


.procOderBtn-r {
	float: right;
}


.procOder ul li {
	margin-left: 10px;
	margin-right: 10px;
	line-height: 35px;
}

.procOder button {
	width: 100px;
	text-decoration: none;
	border: 1px solid black;
	font-size: 16px;
	background-color: rgb(255, 255, 255);
	color: #000000;
	border-radius: 5px;
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
	cursor: pointer;
	outline: none;
	transition: 0.2s all;
}

.procOder button:active {
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.floatEnd {
	clear: both;
}

.procOderCraete {
	margin-top: 25px;
}
