<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.mes.sales.mapper.OrdrShtMapper">
	
	<!-- 주문서 전체조회 -->
	<select id="ordrShtAllList" resultType="OrdrShtVO">
		SELECT orsh.orsh_no
		     , cmacc.ca_no
		     , cmacc.ca_nm
		     , TO_DATE(orsh.orsh_dt, 'rrrr-MM-dd') as orsh_dt
		     , TO_DATE(orsh.dlvry_dt, 'rrrr-MM-dd') as dlvry_dt
		  FROM order_sheet orsh JOIN cm_account cmacc
		                          ON orsh.ca_no = cmacc.ca_no
		 ORDER BY 1
	</select>
	
	<!-- 주문서 검색조회 -->
	<select id="ordrShtSrchList" resultType="OrdrShtVO">
        SELECT orsh.orsh_no
		     , cmacc.ca_no
		     , cmacc.ca_nm
		     , TO_DATE(orsh.orsh_dt, 'rrrr-MM-dd') as orsh_dt
		     , TO_DATE(orsh.dlvry_dt, 'rrrr-MM-dd') as dlvry_dt
		  FROM order_sheet orsh JOIN cm_account cmacc
		                          ON orsh.ca_no = cmacc.ca_no
         <where>
            <if test="caNm != null and !caNm.equals('')">
            	ca_nm LIKE '%' || #{caNm} || '%' 
            </if>
            <if test="orshStrDt != null and !orshStrDt.equals('') and orshEndDt!= null and !orshEndDt.equals('')">
                AND orsh_dt between #{orshStrDt} and #{orshEndDt}
            </if>
         </where>
          ORDER BY 1
    </select>
		
	<!-- 모달창 업체 전체조회 -->
	<select id="accoutnAllList" resultType="OrdrShtVO">
		SELECT ca_no
			 , ca_nm
			 , ca_ceo_nm
			 , ca_mng
			 , ca_mng_ph
		FROM CM_ACCOUNT
		WHERE CA_TYP = '매출처'
		ORDER BY ca_no
	</select>
	
	<!-- 모달창 업체 검색조회 -->
	<select id="accoutnSrchList" resultType="OrdrShtVO">
		SELECT ca_no
			 , ca_nm
			 , ca_ceo_nm
			 , ca_mng
			 , ca_mng_ph
		  FROM CM_ACCOUNT
		 WHERE CA_TYP = '매출처'
			<if test="caNm != null and !caNm.equals('')">
				AND ca_nm LIKE '%' || #{caNm} || '%'
			</if>
		ORDER BY ca_no
	</select>
	
	<!-- 주문서코드 자동생성 -->
	<select id="getOrdrShtCode" resultType="String">
        SELECT 'ordr' || TO_CHAR(SYSDATE,'yyMMdd') || TRIM(TO_CHAR(ordr_sht_seq.nextval,'099')) as orsh_No
          FROM DUAL
    </select>
    
    <!-- 주문서디테일코드 자동생성 -->
    <select id="getOrdrShtDtlCode" resultType="String">
        SELECT 'ordrdtl' || TO_CHAR(SYSDATE,'yyMMdd') || TRIM(TO_CHAR(ordr_sht_dtl_seq.nextval,'099')) as ordr_dtl_cd
          FROM DUAL
    </select>
    
	<!-- 주문서 등록 모달창 상품 리스트 -->
	<select id="getProdList" resultType="OrdrShtVO">
		SELECT cpr_nm
			 , cpr_cd
		  FROM CM_PRODUCT_MNG
		 ORDER BY cpr_nm
	</select>
	
	<!-- 모달창 주문서 헤더 등록 -->
	<insert id="insertOrdrShtHdr" parameterType="OrdrShtVO">
		INSERT INTO order_sheet(orsh_no, ca_no, orsh_dt, dlvry_dt)
			             VALUES('ordr' || TO_CHAR(SYSDATE,'yyMMdd') || TRIM(TO_CHAR(ORDER_SHEET_SEQ.NEXTVAL,'099'))
			                  , #{caNo}, TO_DATE(#{orshDt}, 'yyyy-MM-dd'), TO_DATE(#{dlvryDt}, 'yyyy-MM-dd'))
	</insert>
	
	<!-- 모달창 주문서 디테일 등록 -->
	<insert id="insertOrdrShtDtl" parameterType="OrdrShtVO">
		INSERT INTO order_sheet_detail(ordr_dtl_cd, ordr_dtl_cnt, cpr_cd, orsh_pr, orsh_no, stt_cng_dt)
		                        VALUES('orderdtl' || TO_CHAR(SYSDATE,'yyMMdd') || TRIM(TO_CHAR(ORDER_SHEET_SEQ.NEXTVAL,'099'))
                              		  , #{ordrDtlCnt}, (SELECT cpr_cd FROM cm_product_mng WHERE cpr_nm = #{cprNm})
                              		  , '접수완료', #{orshNo}, SYSDATE)
	</insert>
	
</mapper>